@charset "UTF-8";

* {
    text-decoration: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #f7d17e56;
    margin: 0px;
}

header {
    margin: auto;
    min-width: 400px;
    max-width: 800px;
    background-image: linear-gradient(-45deg, #F5CC14, #F7DA5E);
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.082);
}

header > h1 {
    font-family: 'Berkshire Swash', cursive;
    font-size: 3em;
    color: #D4A12C;
    text-align: center;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.466);
    padding: 10px;
}

nav {
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #D4A12C;
    display: flex;
    justify-content: space-evenly;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.466);

}

nav > a {
    color: #FFF;
    text-decoration: none;
    font-weight: bold;
}

main {
    margin: auto;
    padding: 20px;
    min-width: 400px;
    max-width: 800px;
}

.menu-foto {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 3vw;
}

.menu-item {
    width: 290px;
    height: 290px;
    border: 10px solid #fff;  
    box-shadow: 5px 5px 5px #0006;
    flex-grow: 1;
}

.menu-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.menu-item:hover {
    transform: scale(1.3);
}

.content:hover .texto {
    visibility: visible;
}

.texto {
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.466);
    position: relative;
    text-align: center;
    visibility: hidden;
}

footer {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: italic;
    margin: auto;
    border-radius: 0px 0px 5px 5px;
    min-width: 400px;
    max-width: 800px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #D4A12C;
    color: #fff ;
}